h1 {
    color: saddlebrown
}
img {
    width: 400px
}
#thirdDiv {
    height: 600px;
    width: 500px;
    background-color: aqua;
    padding: 50px;
    border-width: 35px;
    border-color: seagreen;
    border-style: dotted;
    position: absolute;
    top: 250px;
    left: 625px;
}
#spanId {
    font-size: 18px;
    margin: 50px;
}
#divId {
    background: url('https://cdn.pixabay.com/photo/2018/09/05/04/21/flowers-3655451__480.jpg');
}
.divClass {
    /* display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; */
    display: block;
    text-align: center;
}

